/* normalizing */
*{
    margin:0;
    padding:0;
}
ul, li{
    list-style:none;
}
a{
    color:inherit;
    text-decoration:none;
}
input{
    text-transform:uppercase;
}
input:focus{
    outline:none;
}
/* library */
.bg_green{
    background-color:green;
}
.bg_yellow{
    background-color:yellow;
}
.bg_grey{
    background-color:grey;
}
/* style */
.wrap_wordle{
    max-width:480px;
}
.wrap_wordle > .wrap_title{
    width: 100%;
    text-align:center;
    margin-bottom:calc((100%/480)*16);
}
.wrap_wordle > .wrap_title > .title{
    font-size:calc((1rem/16)*32);
    font-weight:bold;
}
.wrap_wordle > .wrap_answer{
    width:calc((100%/480)*320);
    margin:0 auto;
    margin-bottom:calc((100%/480)*16);
}
.wrap_wordle > .wrap_answer > .box_answer{
    width: 100%;
    margin-bottom:calc((100%/320)*8);
    display:flex;
    justify-content:space-between;
}
.wrap_wordle > .wrap_answer > .box_answer > .input{
    width:calc((100%/320)*56);
    height:56px;
    border:1px solid #aaa;
    border-radius:10%;
    font-size:calc((1rem/16)*40);
    text-align:center;
    line-height:56px;
    text-transform: uppercase;
}

.wrap_wordle > .wrap_key{
    width:calc((100%/480)*464);
    margin:0 auto;
}
.wrap_wordle > .wrap_key > .box_key{
    width: 100%;
    margin-bottom:calc((100%/464)*8);
    display:flex;
    justify-content:center;
}
.wrap_wordle > .wrap_key > .box_key > button{
    width:calc((100%/464)*40);
    height:56px;
    margin:0 calc((100%/464)*2);
    font-size:calc((1rem/16)*16);
    cursor:pointer;
}
.wrap_wordle > .wrap_key > .box_key > .enter{
    width:calc((100%/464)*80);
}
.wrap_wordle > .wrap_key > .box_key > .del{
    width:calc((100%/464)*56);
}

 @media screen and (max-width:480px){
    .wrap_wordle > .wrap_answer > .box_answer > .input{
        height:calc((100vw/480)*56);
        line-height:calc((100vw/480)*56);
    }
    .wrap_wordle > .wrap_key > .box_key > button{
        height:calc((100vw/480)*56);
    }
 }